@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Google Sans', sans-serif;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    z-index: 999999;
    background-color: #2380D1;
}

*::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #f4f4f4;
}

*::-webkit-scrollbar-thumb:hover {
    border-radius: 16px;
    background-color: #a0a0a5;
}

*::-webkit-scrollbar-button {
    display: none;
}

.gallery {
    max-width: 800px;
    margin: 0 auto;
}

.gallery__item img {
    width: 100%;
    max-height: 100%;
}